<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Insert Student Details</title>
	<meta charset='UTF-8'>
</head>
<body>
	<h2>Enter Student Details</h2>
	<form method='post' action="{% url 'process_student_details' %}">
	{% csrf_token %}
	<label for="name">Enter Student Name<input type="text" name="name">
	<br>
	<label for="regno">Enter Student Register Number<input type="number" name="regno">
	<br>
	<label for="address">Enter Student Address<input type="text" name="address">
	<br>
	<label for="number">Enter Student Contact Number<input type="number" name="number">
	<br>
	
</body>
</html>